doctype html
html
	head
		title= title
		link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
		meta(name="viewport", content="width=device-width, initial-scale=1")
	body(style="padding-top: 40px;")
		h1(align="center") Wiki Media Server
		br
		div(class="container")
			table(class="table table-bordered table-striped")
				tr
					th Film
					th Azione
				if files
					for item in files
						tr
							td= item
							td
								a(href='/'+item) Riproduci
				else
					tr
						td(colspan="2", align="center") Nessun elemento trovato
		script(src='jquery/dist/jquery.min.js')
		script(src='bootstrap/dist/js/bootstrap.min.js')
